{% extends 'base.html.twig' %}

{% block title %}New Hoster{% endblock %}

{% block body %}
    <h1>Create new Hoster</h1>

    {{ include('hoster/_form.html.twig') }}

    <a href="{{ path('app_hoster_index') }}">back to list</a>
{% endblock %}
