{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    <h1>Créer un nouveau client</h1>
    <div class="p-3">
        {{ include('customer/_form.html.twig') }}
    </div>
    <div class="p-3">
        <a href="{{ path('app_customer_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
