{% extends 'base.html.twig' %}

{% block title %}Edit Intervention{% endblock %}

{% block body %}
    <h1>Modifier une intervention</h1>
<div class="p-3">
    {{ include('intervention/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('intervention/_delete_form.html.twig') }}
    </div>
<div class="p-3">
    <a href="{{ path('app_intervention_index') }}">Retour à la liste</a>
 </div>
{% endblock %}
