{% extends 'base.html.twig' %}

{% block title %}Edit Horse{% endblock %}

{% block body %}
    <h1>Edit Horse</h1>

    {{ include('horse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_horse_index') }}">back to list</a>

    {{ include('horse/_delete_form.html.twig') }}
{% endblock %}
