{% extends 'base.html.twig' %}

{% block title %}New Adress{% endblock %}

{% block body %}
    <h1>Créer une nouvelle adresse</h1>

    <div class="p-3">
        {{ include('adress/_form.html.twig') }}
    </div>
    <div class="p-3">
        <a href="{{ path('app_adress_index') }}">retour à la liste</a>
     </div>
{% endblock %}
