@import "~bootstrap";
@import "~leaflet";
@import "~@ansur/leaflet-pulse-icon/dist/L.Icon.Pulse.css";

#map {
    background-color: $component-active-color;
    position: sticky;
    height: 50vh;
    max-width: 80%;
}